<!-- Show 4 circle circles as a skeleton loader -->
<!-- there are two appearances available: circle online -->
<!-- support different animations: progress (the default one), progress-dark, and pulse. -->
<ngx-skeleton-loader count="4" appearance="circle" animation="progress-dark"></ngx-skeleton-loader>
<br>
<ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle"></ngx-skeleton-loader>

<ngx-skeleton-loader count="2" appearance="line" animation="pulse"></ngx-skeleton-loader>

<!-- Customize skeleton skins using CSS -->
<ngx-skeleton-loader 
  count="2" 
  appearance="line" 
  animation="progress" 
  [theme]="{
    'background-color': '#FFBF00',
    'height': '30px',
    'border-radius': 0
  }"
>
</ngx-skeleton-loader>